**Task 07: Querying RDF(s)**

In [1]:
!pip install rdflib
github_storage = "https://raw.githubusercontent.com/FacultadInformatica-LinkedData/Curso2024-2025/master/Assignment4/course_materials"

Collecting rdflib
  Downloading rdflib-7.0.0-py3-none-any.whl.metadata (11 kB)
Collecting isodate<0.7.0,>=0.6.0 (from rdflib)
  Downloading isodate-0.6.1-py2.py3-none-any.whl.metadata (9.6 kB)
Requirement already satisfied: pyparsing<4,>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from rdflib) (3.1.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from isodate<0.7.0,>=0.6.0->rdflib) (1.16.0)
Downloading rdflib-7.0.0-py3-none-any.whl (531 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 531.9/531.9 kB 8.7 MB/s eta 0:00:00
Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 kB 1.9 MB/s eta 0:00:00
Installing collected packages: isodate, rdflib
Successfully installed isodate-0.6.1 rdflib-7.0.0

First let's read the RDF file

In [2]:
from rdflib import Graph, Namespace, Literal
from rdflib.namespace import RDF, RDFS
g = Graph()
g.namespace_manager.bind('ns', Namespace("http://somewhere#"), override=False)
g.namespace_manager.bind('vcard', Namespace("http://www.w3.org/2001/vcard-rdf/3.0#"), override=False)
g.parse(github_storage+"/rdf/example6.rdf", format="xml")

**TASK 7.1: List all subclasses of "LivingThing" with RDFLib and SPARQL**

In [4]:
q1 = """
  SELECT ?Subject
  WHERE {
    ?Subject rdfs:subClassOf ns:LivingThing
  }
"""

# Visualize the results
for r in g.query(q1):
  print(r)

(rdflib.term.URIRef('http://somewhere#Person'),)
(rdflib.term.URIRef('http://somewhere#Animal'),)

**TASK 7.2: List all individuals of "Person" with RDFLib and SPARQL (remember the subClasses)**

In [5]:
q2 = """
  SELECT ?Subject
  WHERE {
    ?Subject rdf:type/rdfs:subClassOf* ns:Person
  }
"""

# Visualize the results
for r in g.query(q2):
  print(r)

(rdflib.term.URIRef('http://somewhere#SaraJones'),)
(rdflib.term.URIRef('http://somewhere#JohnSmith'),)
(rdflib.term.URIRef('http://somewhere#JaneSmith'),)
(rdflib.term.URIRef('http://somewhere#JimGonzalez'),)

**TASK 7.3: List all individuals of just "Person" or "Animal". You do not need to list the individuals of the subclasses of person (in SPARQL only)**

In [6]:
q3 = """
  SELECT ?Subject
  WHERE {
    { ?Subject rdf:type ns:Person } UNION
    { ?Subject rdf:type ns:Animal }
  }
"""

# Visualize the results
for r in g.query(q3):
  print(r)

(rdflib.term.URIRef('http://somewhere#SaraJones'),)
(rdflib.term.URIRef('http://somewhere#JohnSmith'),)
(rdflib.term.URIRef('http://somewhere#RockySmith'),)
(rdflib.term.URIRef('http://somewhere#Bugs'),)

**TASK 7.4:  List the name of the persons who know Rocky (in SPARQL only)**

In [12]:
q4 = """
  SELECT ?name
  WHERE {
    ?x ns:knows ns:Rocky .
    ?x vcard:FN ?name
  }
"""

# Visualize the results
for r in g.query(q4):
  print(r)

**Task 7.5: List the name of those animals who know at least another animal in the graph (in SPARQL only)**

In [13]:
q5 = """
SELECT ?name
WHERE {
  ?x rdf:type ns:Animal .
  ?x ns:knows ?y .
  ?y rdf:type ns:Animal .
  ?x vcard:FN ?name
}
"""

# Visualize the results
for r in g.query(q5):
  print(r)

**Task 7.6: List the age of all living things in descending order (in SPARQL only)**

In [9]:
q6 = """
  SELECT ?age
  WHERE {
    ?x rdf:type/rdfs:subClassOf* ns:LivingThing .
    ?x ns:age ?age
  }
ORDER BY DESC(?age)
"""

# Visualize the results
for r in g.query(q6):
  print(r)